<p id="notice"><%= notice %></p>

<p>
  <strong>Folder created inside</strong> :
  <%= @folder.folderParent %>
</p>

<p>
  <strong>New Folder Name</strong> :
  <%= @folder.folderName %>
</p>


<%= link_to 'Edit', edit_folder_path(@folder) %> 
