<h1>New Store</h1>

<% if @quota < 10000 %>
  <%= render 'form', store: @store %>
<% else %>
   <p> Limit to upload files reached cant add more files </p>
<% end %>

<%= link_to 'Back', stores_path %>
