

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Share File with other user</h4>
         </div>

        <div class="modal-body"> 
        <%= form_for @share ,:url => give_perm_path("ssss") do |f| %>
 					 <div class="form-group">
            Share with:
            <%=f.collection_select :reciever_id,@except_current, :id, :name %>
            </div>
            
            <div class="form-group">
            <label class="control-lablel"> label</label>
             Read <input type="checkbox" name="share[permission][]" value="R">
             Write <input type="checkbox" name="share[permission][]" value="W">
             Execute <input type="checkbox" name="share[permission][]" value="X">
             </div>

            <%= f.submit "Give Permission"%>
          <% end %>
        </div>

        <table class="table table-hover table-striped">
      
      <thead>
        <tr class="sortable">
          <th>File</th>
      <th>Size</th>
      <th>Uploaded to</th>
       
       <th class="text-center"> <td> Actions </td></th>

        </tr>
        </thead>

        <tbody>
      <tr>
        <td> download </a></td>


      </tr>
  </tbody>
</table>

    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  